#picture {/*Set some padding and size parameters for a picture*/
   width=40px;
   height=40px;
   padding=10px;
   position:relative;
}

#title {/*Set the size and text of the title and make it fixed*/
  width:calc(100% - 56px);
  position: fixed;        
  padding: 10px;
  text-align: center;
  background-color: #A9A9A9;
  color: #58D68D;
  top:0px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 50px;
  border: 3px solid black;
  margin: 0;
  z-index:15;
}

#navigation {/*Set the size and location of the navigation bar and make it fixed*/
   list-style-type: none;
   position: fixed;
   width:140px;
   height:100%;
   top:93px;
   background-color: #A9A9A9;
   color: #FFA500;
   border: 3px solid black;
   margin: 0;
   z-index:15;
}

a.navigation {/*Set the text color of the address tags in the navigation class*/
  color: #58D68D;
  padding: 2px 8px;
  text-decoration: none;
}

.navigation a:hover{/*Make the tags change color when hovered over*/
  color: white;
}

.div-header{/*Set the location of the div-header classes so they are beneath the banner, and beside the navigatio bar*/
   font-family: "Times New Roman", Times, serif;
   background-color: #1C2833;
   color: #58D68D;
   border: 3px solid black;
   left:0px;
   position:absolute;
   left:144px;
   padding-top:86px;
   width:calc(100% - 164px);
   box-sizing:content-box;
   padding-left:5px;
}

#contact-info{
  top:86;
  left:151px;
  z-index:5;
}

#education{
  top:390px;
  left:151px;
  z-index:4;
}

#skill-set{
  top:520px;
  left:151px;
  z-index:3;
}

#extracurricular{
  top:750px;
  left:151px;
  z-index:2;
}

#experience{
  top:900px;
  left:151px;
  z-index:1;
}

#programming-languages {/*Set the size and location of the programming langauges part of skill set*/
  background-color: #1C2833;
  color: #58D68D;
  margin: 1px 15px;
  width:calc((100% - 164px)/2);
  float:left;
}

#computer-skills {/*Set the size and location of the computer skills part of skill set*/
  background-color: #1C2833;
  color: #58D68D;
  width:calc((100% - 164px)/2);
  padding:1px 15px;
  margin-left:calc((100% - 164px)/2);
}
